/*
 * z-index 05 is reserved for inactive windows
 * z-index 06 is reserved for inactive window menubars
 * z-index 07 is reserved for the active window
 * z-index 08 is reserved for the active window menubar
 * z-index 09 is reserved for the dock, system menu, and window controls
 * z-index 10 is reserved for the system menu popups and notifications
 * z-index 11 is reserved for dialog(ue) dimming
 * z-index 12 is reserved for dialog(ue)s
 */

/* FiraGO (Fira Sans), Fira Mono, Zilla Slab, Noto Sans, Atkinson Hyperlegible, Sofia Sans, IBM Plex Sans, Carrois Gothic, Comme (Oxygen), Oxygen, Share, Share Tech, Share Tech Mono */
@import url('https://free.bboxtype.com/embedfonts/?family=FiraGO:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
@import url('https://free.bboxtype.com/embedfonts/?family=FiraMono:400,500,700');
@import url('https://code.cdn.mozilla.net/fonts/zilla-slab.css');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&family=Sofia+Sans:ital,wght@0,1;0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,1;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap'); /* 579 columns is probably a world record */
@import url('https://fonts.googleapis.com/css2?family=Carrois+Gothic&family=Comme:wght@400;700&family=Oxygen:wght@400;700&family=Share+Tech&family=Share+Tech+Mono&family=Share:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@import url('../switzer-font-web/switzer.css');

@import url('desktop.css');
@import url('window.css');

:root {
	--fontselection: 'FiraGO', 'Fira Sans', 'Noto Sans', sans-serif;
	--font-monospace: 'Fira Mono', 'Menlo', 'Consolas', monospace;
	--wallpaper-location: url('/wallpapers/unsplash-collection/photo-1458501534264-7d326fa0ca04.jpeg');

	--accent: #ff7800;
	--highlight: #ffc999;

	--accent-hsl-h: 28;
	--accent-hsl-s: 100%;
	--accent-hsl-l: 50%;
	--accent-hsl-total: var(--accent-hsl-h), var(--accent-hsl-s), var(--accent-hsl-l);

	--accent-darker: var(--accent-hsl-h), var(--accent-hsl-s), calc(var(--accent-hsl-l) - 10%);

	--accent-1: #f99c00;
	--accent-2: #ffa714;
	--accent-3: #ffb21b;
}

* {
	font-family: var(--fontselection);
	font-weight: 400;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-webkit-user-select: none;
	user-select: none;
	scrollbar-width: thin;
}

body {
	overflow: hidden;
	background-image: var(--wallpaper-location);
	background-size: cover;
	/* background-position: center center; */
	background-repeat: no-repeat;
	width: 100%;
	height: 100%;
	font-size: 14px;
}

.tooltip {
	--text-width: 120px;
	position: relative;
	display: inline-block;
	color: rgba(0 0 0 / 50%);
}

.tooltip:hover {
	color: rgba(0 0 0 / 100%);
}

.tooltip     .tooltip-text,
.tooltip.top .tooltip-text {
	visibility: hidden;
	width: var(--text-width);
	background-color: black;
	color: white;
	text-align: center;
	border-radius: 6px;
	padding: 5px 0;

	position: absolute;
	z-index: 1;
	bottom: 125%;
	left: 50%;
	margin-left: calc(var(--text-width) / 2 * -1);
}

.tooltip.right .tooltip-text {
 	top: -5px;
 	left: 105%;
}

.tooltip     .tooltip-text::after,
.tooltip.top .tooltip-text::after {
	content: '';
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: black transparent transparent transparent;
}

.tooltip.right .tooltip-text::after {
	border-color: transparent black transparent transparent;
}

.tooltip:hover .tooltip-text {
	visibility: visible;
}

/* preloading overlay
#overlay {
	z-index: 11;
	display: none;
	opacity: 0;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #222;
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	animation: fade-away 5s;
}

#overlay p {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	color: white;
}

@keyframes fade-away {
	from {
		display: block;
		opacity: 1;
	}

	to {
		display: none;
		opacity: 0;
	}
}
*/

/* tooltips */
.tooltip-button,
.window > .content .tooltip-button {
	--width: 160px;

	background-color: transparent;
	border-radius: 8px;
	border-style: none;
	box-sizing: border-box;
	color: rgba(0 0 0 / 50%);
	cursor: pointer;
	display: inline-block;
	/* font-family: Helvetica, Arial,
		sans-serif; */
	font-size: 1rem;
	margin: 0;
	outline: none;
	padding: 0;
	position: relative;
	text-align: center;
	text-decoration: none;
	transition: color 100ms;
	vertical-align: baseline;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
}

.tooltip-button:hover,
.tooltip-button:focus,
.window > .content .tooltip-button:hover,
.window > .content .tooltip-button:focus {
	color: rgba(0 0 0 / 100%);
}

/* Add this attribute to the element that needs a tooltip */
[data-tooltip],
[data-tooltip-bottom] {
	position: relative;
	z-index: 2;
	cursor: pointer;
}

/* Hide the tooltip content by default */
[data-tooltip]::before,
[data-tooltip]::after,
[data-tooltip-bottom]::before,
[data-tooltip-bottom]::after {
	visibility: hidden;
	opacity: 0;
	pointer-events: none;
}

/* Position tooltip above the element */
[data-tooltip]::before {
	position: absolute;
	bottom: 125%;
	left: 50%;
	margin-bottom: 5px;
	margin-left: calc(var(--width) / 2 * -1);
	padding: 7px;
	width: var(--width);
	border-radius: 4px;
	background-color: black;
	color: white;
	content: attr(data-tooltip);
	text-align: center;
	font-size: 14px;
	line-height: 1.2;
	white-space: pre-wrap;
}

[data-tooltip-bottom]::before {
	position: absolute;
	top: 125%;
	left: 50%;
	margin-top: 5px;
	margin-left: calc(var(--width) / 2 * -1);
	padding: 7px;
	width: var(--width);
	border-radius: 4px;
	background-color: black;
	color: white;
	content: attr(data-tooltip-bottom);
	text-align: center;
	font-size: 14px;
	line-height: 1.2;
	white-space: pre-wrap;
}

/* Triangle hack to make tooltip look like a speech bubble */
[data-tooltip]::after {
	position: absolute;
	bottom: 125%;
	left: 50%;
	margin-left: -5px;
	width: 0;
	border-top: 5px solid black;
	border-right: 5px solid transparent;
	border-left: 5px solid transparent;
	content: '';
	font-size: 0;
	line-height: 0;
}

[data-tooltip-bottom]::after {
	position: absolute;
	top: 125%;
	left: 50%;
	margin-left: -5px;
	width: 0;
	border-bottom: 5px solid black;
	border-right: 5px solid transparent;
	border-left: 5px solid transparent;
	content: '';
	font-size: 0;
	line-height: 0;
}

/* Show tooltip content on hover and focus */
[data-tooltip]:hover::before,
[data-tooltip]:hover::after,
[data-tooltip]:focus::before,
[data-tooltip]:focus::after,
[data-tooltip-bottom]:hover::before,
[data-tooltip-bottom]:hover::after,
[data-tooltip-bottom]:focus::before,
[data-tooltip-bottom]:focus::after {
	visibility: visible;
	opacity: 1;
}

/* iframes */
iframe {
  outline: none;
  border: none;
  resize: both;
  overflow: auto;
  position: auto;
}

/* fancy headings for fancy people */
.fancy {
	line-height: 0.5;
	text-align: center;
}

.fancy span {
	display: inline-block;
	position: relative;
}

.fancy span::before,
.fancy span::after {
	content: '';
	position: absolute;
	height: 5px;
	border-bottom: 1px solid currentColor;
	border-top: 1px solid currentColor;
	top: 0;
	width: 600px;
}

.fancy span::before {
	right: 100%;
	margin-right: 15px;
}

.fancy span::after {
	left: 100%;
	margin-left: 15px;
}

/* utility */
:root {
	/* spacers */
	--spacer-0: 0px;
	--spacer-1: 4px;
	--spacer-2: 8px;
	--spacer-3: 16px;
	--spacer-4: 24px;
	--spacer-5: 32px;
	--spacer-6: 40px;

	/* colours */
	--color-black: hsl(0, 0%, 0%);
	--color-default: hsl(0, 0%, 75%);
	--color-muted: hsl(0, 0%, 85%);
	--color-white: hsl(0, 0%, 100%);
}

.fs-8 {
	font-size: 8px;
}

.fs-10 {
	font-size: 10px;
}

.fs-12 {
	font-size: 12px;
}

.fs-14 {
	font-size: 14px;
}

.fs-16 {
	font-size: 16px;
}

.fs-1r {
	font-size: 1rem;
}

.fs-2r {
	font-size: 1rem;
}

.fs-4rem {
	font-size: 4rem;
}

.d-block {
	display: block;
}

.flex, .d-flex {
	display: flex;
}

.inline-flex, .d-inline-flex {
	display: inline-flex;
}

.gap-0 {
	gap: var(--spacer-0);
}

.gap-1 {
	gap: var(--spacer-1);
}

.gap-2 {
	gap: var(--spacer-2);
}

.gap-3 {
	gap: var(--spacer-3);
}

.gap-4 {
	gap: var(--spacer-4);
}

.gap-5 {
	gap: var(--spacer-5);
}

.flexdir-col {
	flex-direction: column;
}

.flexdir-row {
	flex-direction: row;
}

.ai-start {
	align-items: start;
}

.ai-center {
	align-items: center;
}

.ai-end {
	align-items: end;
}

.jc-left {
	justify-content: left;	
}

.jc-center {
	justify-content: center;
}

.jc-right {
	justify-content: right;
}

.flex-1 {
	flex: 1;
}

.flex-2 {
	flex: 2;
}

.flex-3 {
	flex: 3;
}

.flex-4 {
	flex: 4;
}

.radii-4 {
	border-radius: 4px;
}

.radii-8 {
	border-radius: 8px;
}

.fg-black {
	color: var(--color-black);
}

.fg-default {
	color: var(--color-default);
}

.fg-muted {
	color: var(--color-muted);
}

.fg-white {
	color: var(--color-white);
}

.p-0 {
	padding: 0;
}

.p-4 {
	padding: 4px;
}

.p-8 {
	padding: 8px;
}

.p-12 {
	padding: 12px;
}

.p-14 {
	padding: 14px;
}

.p-16 {
	padding: 16px;
}

.p-32 {
	padding: 32px;
}

.p-top-0 {
	padding-top: 0;
}

.p-top-4 {
	padding-top: 4px;
}

.p-top-8 {
	padding-top: 8px;
}

.p-top-12 {
	padding-top: 12px;
}

.p-top-14 {
	padding-top: 14px;
}

.p-top-16 {
	padding-top: 16px;
}

.p-top-32 {
	padding-top: 32px;
}

.p-bot-0 {
	padding-bottom: 0;
}

.p-bot-4 {
	padding-bottom: 4px;
}

.p-bot-8 {
	padding-bottom: 8px;
}

.p-bot-12 {
	padding-bottom: 12px;
}

.p-bot-14 {
	padding-bottom: 14px;
}

.p-bot-16 {
	padding-bottom: 16px;
}

.p-bot-32 {
	padding-bottom: 32px;
}

.p-bot-64 {
	padding-bottom: 64px;
}

.p-lef-0 {
	padding-left: 0;
}

.p-lef-4 {
	padding-left: 4px;
}

.p-lef-8 {
	padding-left: 8px;
}

.p-lef-12 {
	padding-left: 12px;
}

.p-lef-14 {
	padding-left: 14px;
}

.p-lef-16 {
	padding-left: 16px;
}

.p-lef-32 {
	padding-left: 32px;
}

.p-rig-0 {
	padding-right: 0;
}

.p-rig-4 {
	padding-right: 4px;
}

.p-rig-8 {
	padding-right: 8px;
}

.p-rig-12 {
	padding-right: 12px;
}

.p-rig-14 {
	padding-right: 14px;
}

.p-rig-16 {
	padding-right: 16px;
}

.p-rig-32 {
	padding-right: 32px;
}

.p-lrh-32 {
	padding: 16px 32px;
}

.m-auto {
	margin: auto;
}

.m-0 {
	margin: 0;
}

.m-4 {
	margin: 4px;
}

.m-8 {
	margin: 8px;
}

.m-12 {
	margin: 12px;
}

.m-14 {
	margin: 14px;
}

.m-16 {
	margin: 16px;
}

.m-32 {
	margin: 32px;
}

.ta-left {
	text-align: left;
}

.ta-center {
	text-align: center;
}

.ta-right {
	text-align: right;
}

.ta-justify {
	text-align: justify;
}

.mw-600 {
	max-width: 600px;
}

.w-100-pc {
	width: 100%;
}

.w-75-px {
	width: 75%;
}

.w-50-pc {
	width: 50%;
}

.w-25-pc {
	width: 25%;
}

.w-15-pc {
	width: 15%;
}

.w-10-pc {
	width: 10%;
}

.h-100-pc {
	height: 100%;
}

.h-75-pc {
	height: 75%;
}

.h-50-pc {
	height: 50%;
}

.h-25-pc {
	height: 25%;
}

.h-10-pc {
	height: 10%;
}

.pos-rel {
	position: relative;
}

.pos-abs {
	position: absolute;
}

.pos-fix {
	position: fixed;
}

.pos-sti {
	position: sticky;
}

.border {
	border-width: 1px;
	border-style: solid;
	border-color: var(--color-default);
}

.border-none {
	border: none;
}

.border-s-sol {
	border-style: solid;
}

.border-s-das {
	border-style: dashed;
}

.border-s-dot {
	border-style: dotted;
}

.border-s-dou {
	border-style: double;
}

.b-0 {
	bottom: var(--spacer-0);
}

.b-1 {
	bottom: var(--spacer-1);
}

.b-2 {
	bottom: var(--spacer-2);
}

.b-3 {
	bottom: var(--spacer-3);
}

.b-4 {
	bottom: var(--spacer-4);
}

.b-5 {
	bottom: var(--spacer-5);
}

.b-6 {
	bottom: var(--spacer-6);
}
